<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>blastGame.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>blastGameReal.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>cocos2d.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>cocos2dlibOld.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5B0187B41876CE860084B110</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B0187C11876CE870084B110</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B0189161876D3BA0084B110</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B0189231876D3BB0084B110</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE270CEF14FCEB0000C2DBA3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
